<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.ems.dao.UserDAO">
	
	<select id="findByUsername" 
		parameterType="string" 
		resultType="cn.tedu.ems.entity.User">
		SELECT * FROM t_user WHERE username = #{uname}
	</select>
	
	
</mapper>