<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>
             org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <!-- 
    		DispatcherServlet的初始化方法会启动
    		Spring容器，所以，需要指定Spring配置文件的
    		位置。
			注:(了解)
				DispatcherServlet默认会查找
				/WEB-INF/springmvc-servlet.xml，
				以它作为spring的配置文件。
				其中,springmvc是DispatcherServlet的名字。
				比如，将名字改为action,则查找
				action-servlet.xml。 		
     -->
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
</servlet-mapping>

</web-app>